*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*with this container in every section we can center it and used an specefic width*/
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

/* NAVBAR */

.navbar{
    background: #1f2937;
    height: 100px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
}

.navbar h2{
    font-size: 24px;
    color: #f9faf8;
}

.navbar ul{
    display: flex;
    font-size: 18px;
    list-style: none;
    gap: 20px;
}

.navbar ul a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;

}

/* HEADER */
.header{
background: #1f2937;
height: 350px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

.header .text{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header h1{
    font-size: 48px;
    font-weight:900;
    color: #f9faf8;
    padding-right: 100px;
}

.header p{
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 80px;
}

.header a{
    background: #3882f6;
    color: #f9faf8;
    text-decoration: none;
    max-width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
}

.header .image{
    background: grey;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    max-width: 50%;
    border-radius: 20px;
    
}

.header .image span{
    padding: 80px 130px;
}

/* I can't see how to closer the img to the text */

/* MAIN CONTENT */

.main{
  height: 350px;
}
.main .container{
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 20px;
}

.main .container h3{
  font-size: 36px;
}

.box-container{
  display: flex;
  justify-content: center;
  gap: 60px;
  
}
.boxes{
  display: flex;
  flex-direction: column;
  width: 165px;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex: 1;
  
}
.box{
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}


/* Quote section */
.quote{
  background: #e5e7eb;
  height: 350px;
}

.quote .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 750px;
}
.quote figure{
  display: flex;
  flex-direction: column;
}
.quote p{
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote figcaption{
  align-self: flex-end;
  color: #1f2937;
  font-size: 24px;
  font-weight: 900;
}

.signUp{
  height: 300px;
  display: flex;
  align-items: center;
}

.signUp .container{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
  width: 70%;
  height: 45%;
  background: #3882f6;
  border-radius: 10px;
}

.signUp .text span{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;

}
.signUp .text p{
  font-size: 18px;
  color: #e5e7eb
}

.signButton{
  font-size: 18px;
  color: #e5e7eb;
  padding: 5px 30px;
  border: 2px solid #e5e7eb;
  text-decoration: none;
  border-radius: 10px;
}

.footer{
  background: #1f2937;
  height: 100px;
}

.footer .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #e5e7eb
}

/* Responsiveness screen 400px */
@media screen and (max-width: 800px){
  .navbar .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar ul{
    display: none;
  }
  .navbar h2{
    font-size: 36px;
  }

 .header{
   height: 100vh;
   display: flex;
   align-items: center;

 }

  .header .container{
    flex-direction: column;
    align-items: center;
  }

  .header .text{
    max-width: 100%;
    align-items: center;
  }
  .header h1,
  .header p{
    padding: 20px;
    text-align: center;

  }
.header .image{
  display: none;
}

.main{
  height: 100vh;
}
.main .container{
  padding: 20px;
  justify-content: center;
  text-align: center;
  gap: 50px;
  
}

.box-container{
    gap: 50px;
  flex-wrap: wrap;

}

.quote{
  height: 100vh;
}

.quote .container{
  flex-direction: column;
  width: 80%;
  
}
.quote figure{
  gap: 30px;
}

.quote p{
  font-size: 24px;
}

.quote figcaption{
  font-size: 18px;
}

.signUp{
  height: 100vh;
}

.signUp .container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  border-radius: 0;
  text-align: center;
  gap: 30px;
}
}

